
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #ff8361; */
}
#mainContainer {
    /* background-color: #21242d; */
    display: flex;
    border: 2px solid magenta;
    flex-direction: column;
    align-items: center;
    height: 690px;
    /* min-height: 690px; */
    width: 370px;
    margin-top: 2.5vh;
    margin-bottom: 0;
    border-radius: 25px;
}

.row {
    /* border: 1px red solid; */
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

button {
    padding: 10px;
    width: 15%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

#themeToggleContainer {
    /* position: absolute; */
    /* top: 0%; */
    height: 5%;
    width: 50%;
    border: 2px blue solid;
}

#display {
    /* position: absolute; */
    /* top: 10; */
    height: 25%;
    width: 100%;
    border: 2px purple solid;
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content: end;
}

#topLine{
    padding: 10px 10px;
    border: 1px red solid;
    min-height: 18.5px;
}

#bottomLine{
    padding: 20px 10px;
    border: 1px red solid;
    font-size:x-large;
    font-weight: bold;
    min-height: 27.5px;
}

#inputContainer {
    /* position: absolute; */
    /* top: 60; */
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 70%;
    width: 100%;
    border: 2px green dashed;
    border-radius: 0 0 25px 25px;
    background-color: #323844;
}

