#mainContainer > * {
    border: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mainContainer {
    display: flex;
    border: 2px solid blue;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* height: 95vh; */
    /* width: 30vw; */
    min-height: 690px;
    min-width: 350px;
    margin-top: 2.5vh;
    margin-bottom: 0;
}